.tableContainer{

        
        height: calc(75vh);
        background-color: #fff;
        overflow-y: auto;
    
        &::-webkit-scrollbar {
            width: 0px;
        }
    
        // &::-webkit-scrollbar-thumb {
        //     background-color: #ccc;
        //     border-radius: 3px;
        // }
    
        // &::-webkit-scrollbar-track {
        //     background-color: #fff;
        // }
       
           
    
}

