.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

.content-wrapper{
    flex:auto;
    padding: 12px 0;
}
.content{
    height: 100%;
    margin: 0 24px;
    display: flex;
   .left{
    width: 300px;
    height: 660px;
    background-color: #fff;
    padding: 0 0 0 12px;
    overflow-y: hidden;
    
   }
   .main{
    flex: 1;
    position: relative;
    overflow: hidden;
    .canvas-wrapper{
        position: absolute;
        width: 400px;
        height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
       
        overflow-y: auto;
        
        &::-webkit-scrollbar {
                width: 6px;
            }
        &::-webkit-scrollbar-thumb {
                    background-color: #ccc;
                    border-radius: 3px;
                }
        
       &::-webkit-scrollbar-track {
                    background-color: #fff;
                }
        box-shadow: 0 2px 10px #0000001f;
    }
   }
   .right{
    width: 300px;
    background-color: #fff;
    padding: 0 12px;
   }
}