.header{
    display: flex;
    height: calc(7vh);
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background: rgba(245,245,245); 
    border-bottom: 1px  solid #ccc;

    .left{

    }
    .right{

    }
}
.main{
    min-height: calc(100vh - 64px - 65px)!important;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer{
    text-align: center;
    background-color: #f7f7f7;
   border-top:1px solid #e8e8e8;
}

